body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding: 24px 48px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.top-content {
    flex: 1;
}

.middle-content {
    flex: 1;
}

.quote {
    flex: 1;
}

.sign-up {
    flex: 1;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
    font-size: 18px;
}

a {
    text-decoration-line: none;
    color: #E5E7EB;
}