body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Roboto", sans-serif;
}

.header, .footer {
    padding: 24px 160px;
    background-color: #1F2937;
    color: #F9FAF8;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    font-weight: 800; /* Extra Bold */
    color: #F9FAF8;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.top-content {
    flex: 1;
    background-color: #1F2937;
    padding: 32px 160px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 48px;
}

.top-content .top-texts {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.top-content .top-image {
    width: 500px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #BEBEBE; 
    flex-shrink: 0; /* Prevents image from shrinking */
}

.top-content .main-text {
    font-size: 48px;
    font-weight: 800; /* Extra Bold */
    color: #F9FAF8;
}

.top-content .secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.top-content .button {
    color: #E5E7EB;
    padding: 8px 30px;
    background-color: #3882F6;
    align-self: flex-start; /* Prevent button background color from stretching */
    border-radius: 6px; /* Rounds the button */
}

.middle-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    padding: 32px 160px;
}

.middle-content .middle-title {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    padding-bottom: 48px;
}

.middle-content .middle-cards {
    width: 150px;
    height: 200px;
    display: flex;
    justify-content: center;
    gap: 24px;
}

.middle-content .middle-cards .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.middle-content .middle-cards .card .card-box {
    border: solid;
    border-color: #3882F6;
    border-radius: 8px;
    border-width: 4px;
    width: 150px;
    height: 150px;
    flex-shrink: 0;
}

.middle-content .middle-cards .card .card-text {
    text-align: center;
}


.quote {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding: 128px 256px;
    gap: 8px;
}

.quote .quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 100; /* light font weight */
    color: #1F2937;
}

.quote .author {
    align-self: flex-end;
    font-weight: bolder;
}

.sign-up {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up-box {
    
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
    font-size: 18px;
}

a {
    text-decoration-line: none;
    color: #E5E7EB;
}